*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.quote-box{
    transform: translate(-50%, -50%);
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
content: "";
width: 75px;
height: 3px;
 border-radius: 5px;
 background-color: rgb(23, 124, 229);
 position: absolute;
 bottom: -10px;
 left: 50%;
 transform: translate(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box span::before{
    content: "";
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;

}
button img{
    width: 25px;
margin-right: 10px;
}
